<ng-container
	*ngIf="{
		isMe: isMe$ | async,
		isFriend: isFriend$ | async,
		isFriendshipRequestFrom: isFriendshipRequestFrom$ | async,
		isFriendshipRequestTo: isFriendshipRequestTo$ | async
	} as state; else loading"
>
	<ng-container *ngIf="user.status=='Connected'">(C)</ng-container>
	<ng-container *ngIf="user.status=='Disconnected'">(D)</ng-container>
	<em>{{user.screenName}}</em>
	<a *ngIf="state.isMe; else notMe" href="/profile">Edit</a>
	<ng-template #notMe>
		<ng-container *ngIf="state.isFriend; else isNotFriend">
			<div>Friend</div>
		</ng-container>
		<ng-template #isNotFriend>
			<ng-container *ngIf="state.isFriendshipRequestFrom">
				<div>Friendship Requested</div>
				<button (click)="acceptFriendshipRequest()">Accept</button>
				<button (click)="denyFriendshipRequest()">Deny</button>
			</ng-container>
			<ng-container *ngIf="state.isFriendshipRequestTo">
				<div>Friendship Requested</div>
				<button (click)="cancelFriendshipRequest()">Cancel</button>
			</ng-container>
			<button
				*ngIf="!state.isFriendshipRequestFrom && !state.isFriendshipRequestTo"
				(click)="requestFriendship()"
			>Request Friendship</button>
		</ng-template>
	</ng-template>
</ng-container>
<ng-template #loading>
	Loading...
</ng-template>
